<main class="main">
    <section class="cards">
        @for (card of cards; track card; let index = $index) {
            <app-card
                [attr.tabindex]="index === 0 ? 0 : null"
                [type]="card.type"
                [amount]="card.amount"
                [digits]="card.digits"
            />
        }
    </section>

    <section class="buttons">
        @for (action of actions; track action) {
            <button
                action-button
                [icon]="action[1]"
                (click)="onActionItemClicked(action[0])">{{action[0]}}</button>
        }
    </section>

    <app-transactions [days]="days" />

    <app-main-menu />
</main>
<router-outlet />